<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" testdox="true">
    <testsuites>
        <testsuite name="CodexRoute Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
    </php>
</phpunit>

